#about {
    height: 90vh;
    background-color: var(--colorFive, white);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.about__img {
    background-image: url(../img/foto.jpg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 60%;
    border-radius: 100px 20px 100px 20px;
    margin: 20px;
    box-shadow: 1px 3px 15px -3px var(--colorThree, #2979DA);
}

.about__text {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 300px;
    justify-content: space-around;
    font-size: 1.4em;
    text-align: justify;
}

.section__title {
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
    color: var(--colorThree, #2979DA);
    text-transform: uppercase;
}

@media (max-width: 780px) {
    .about__img {
        display: none;
    }
    .about__text {
        width: 70%;
        height: 500px;
    }
}