#footer {
    background-color: var(--colorOne, #1732BF);
    height: 30vh;
    color: var(--colorFive, #ffffff);
}

.footer__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.footer__text {
    line-height: 25px;
}

.footer__text strong {
    font-weight: 800;
    font-size: 1.3em;
}

.footer__text span {
    font-size: .9em;
}

.footer__localization li {
    display: flex;
    flex-wrap: wrap;
    line-height: 25px;
}

.footer__localization li span {
    margin-right: 5px;
    font-size: 1.6em;
}

.footer__link p {
    width: 330px;
    text-align: justify;
}
.footer__link a {
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: 800;
    text-align: center;
}
.footer__link a >span{
    font-size: 1.6em;
    text-decoration: none;
}
hr{
    width: 85%;
}