#projects {
    background-color: var(--colorTwo, #2B8BD8);
    display: grid;
    grid-template-areas: "skills projects";
}

#projects__skills {
    background-color: hsl(207, 70%, 49%);
    grid-area: skills;
}

#projects__skills ul li {
    background-color: var(--colorFive, white);
    display: block;
    min-width: 3.75em;
    max-width: 6.25em;
    margin: 0 auto 50px auto;
    padding: 20px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    text-align: center;
}

#projects__skills li:first-child {
    color: #F2C438;
}

#projects__skills li:nth-child(2) {
    color: #F25835;
}

#projects__skills li:last-child {
    color: #2BB9D9;
}

#projetcts__container {
    display: grid;
    grid-area: projects;
    grid-template-areas: "title title" "project01 project02" "project03 project04" "pagination pagination";
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.projetcts__container>.projects__card:first-child {
    grid-area: project01;
}

.projetcts__container>.projects__card:nth-child(2) {
    grid-area: project02;
}

.projetcts__container>.projects__card:nth-child(3) {
    grid-area: project03;
}

.projetcts__container>.projects__card:last-child {
    grid-area: project04;
}

#projetcts__container>#projects__pagination{
    grid-area: pagination;
}

.projects__title {
    margin: 20px;
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
    color: var(--colorFive, white);
    text-transform: uppercase;
    grid-area: title;
}

.projects__card {
    background-color: var(--colorFive, white);
    width: 31.25em;
    height: 33.13em;
    border-radius: 5px;
}

.card__container {
    height: 100%;
    width: 100%;
}

.card__container h2 {
    font-size: 2em;
    text-align: center;
    color: var(--colorTwo, #2B8BD8);
    margin-top: 10px;
}

.card__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__text p {
    text-align: justify;
    margin: 10px;
    font-size: 1em;
}

.card__btn {
    text-decoration: none;
    background: linear-gradient(90deg, #37cad1 0%, #1732bf 100%);
    padding: 10px;
    color: var(--colorFive, white);
    transition: transform .5s ease-in;
    border-radius: 10px;
}

.card__btn:hover {
    transform: translate(0, -6px);
    background: linear-gradient(45deg, #1732bf 0%, #37cad1 100%);
}

.card__icons {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;
}

.card__icons i:first-child {
    color: #F2C438;
}

.card__icons i:nth-child(2) {
    color: #F25835;
}

.card__icons i:last-child {
    color: #2BB9D9;
}

.card__img img {
    width: 100%;
}

#projects__pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
#projects__pagination div{
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    font-size: 20px;
    color: var(--colorFive, white);

}
#projects__pagination div:not(.pagination__numbers),#projects__pagination div.pagination__numbers div{
    width: 40px;
    height: 40px;
}
#projects__pagination div.pagination__numbers div:hover,#projects__pagination div.pagination__numbers div.active{
    color: var(--colorOne, #1732BF);
}

@media (max-width: 1300px) {
    #projetcts__container {
        grid-template-areas: "title" "project01" "project02" "project03 " "project04" "pagination";
    }
}

@media (max-width: 780px) {
    #projects {
        grid-template-areas: "skills" "projects";
    }
    #projects__skills {
        position: relative;
        overflow-x: auto;
        /*Para criar a barra*/
        -webkit-overflow-scrolling: touch;
        /*Configuração touch pára celular*/
        -ms-overflow-style: -ms-autohiding-scrollbar;
        /*Configuração touch pára celular*/
    }
    #projects__skills::after {
        content: '→';
        position: absolute;
        bottom: 5px;
        left: 50%;
        color: rgba(0, 0, 0, .3);
        animation: seta .5s ease-in 0s infinite alternate;
    }
    #projects__skills ul {
        display: flex;
    }
    #projects__skills li {
        flex: 1 0 3.75em;
    }
    #projects__skills li + li{
        margin-left: 30px;
    }
    #projects__skills {
        padding: 0 30px;
    }
    #projects__skills li a {
        margin: 30px 30px 30px 0;
    }
    .projects__card {
        width: 18.75em;
        height: 27.81em;
    }
    .projects__card:nth-of-type(3),.projects__card:nth-of-type(4) {
        height: 28.81em;
    }
    #projects__skills ul li {
        min-width: 2.81em;
        max-width: 3.75em;
    }
}

@media (max-width: 300px) {
    .projects__card {
        width: 15em;
        height: 29.69em;
    }
    .projects__card:nth-of-type(3),.projects__card:nth-of-type(4) {
        height: 30em;
    }
}

@keyframes seta {
    from {
        left: 50%;
    }
    to {
        left: 60%;
    }
}